 body {
        background: #000;
        color: #fff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 40px;
    }

    h1 {
        font-size: 48px;
        font-weight: 900; /* thicker than normal bold */
        text-align: center;
        margin-bottom: 40px;
    }
    .sub-heading{
        font-size: 30px;
        font-weight: 900; /* thicker than normal bold */
        text-align: start;
        margin-bottom: 40px;
        text-wrap: wrap;
    }
    #channels{
       width: 40%;
    }

    ul {
        list-style-type: disc;
        padding-left: 40px;
        max-width: 400px;
        margin: auto;
    }

    li {
        border: 1px solid magenta;
        padding: 12px 16px;
        margin: 12px 0;
        border-radius: 6px;
        transition: 0.3s ease;
        cursor: pointer;
    }

    li:hover {
        transform: scale(1.03);
        box-shadow: 0 0 10px magenta;
        background: rgba(255, 0, 255, 0.08);
    }

    main{
        display: flex;
        justify-content: space-evenly;
    }

    @media (max-width:700px) {
        main{
            flex-direction: column;
            align-items: center;

        }
        #channels{
            order: 1;
            width: 100%;
        }
        #roles{
            order: 2;
        }
        #channels .sub-heading{
            text-align: center;
        }
    }